<header> 
    <div class="header__container" id="header">
        <nav class="header__menu--nav" id="nav">
            <div class="header__left">
                <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                    <span id="hamburger"></span>
                </button>
                <a id="logo" href=""><img src="<?php $global['base']?>Assets/img/header/logo.png" alt=""></a>
            </div>
            <div class="header__logout--container">
                <div class="header__links">
                   <img src="<?php $global['base']?>Assets/svg/home/bell.svg" alt="">
                </div>
                <div class="header__logout">
                    <div class="header__logout--avatar">
                        <img src="<?php $global['base']?>Assets/img/foto.jpg" alt="">
                    </div>
                    <span>Olá, José</span>
                    <img class="arrow-mobile" src="<?php $global['base']?>Assets/svg/home/arrow.svg" alt="">
                </div>
            </div>
        </nav>
      </div>
</header>
