<aside class="sidebar__container">
    <ul class="nav__list">
        <li>
            <a href="index.php" style="background: #993f98;">
                <img src="<?php $global['base']?>Assets/svg/home/home-aside.svg" alt="">
                <span>Meu painel</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="<?php $global['base']?>Assets/svg/home/clipboard-aside.svg" alt="">
                <span>Minhas tarefas</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="<?php $global['base']?>Assets/svg/home/envelope-aside.svg" alt="">
                <span>Mensagens</span>
            </a>
        </li>
        <li>
            <a href="usuarios.php" id="usuarios">
                <img src="<?php $global['base']?>Assets/svg/home/user-aside.svg" alt="">
                <span>Usuarios</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="<?php $global['base']?>Assets/svg/home/chat-aside.svg" alt="">
                <span>Contatos</span>
            </a>
        </li>
    </ul>
   
</aside>