<section class="index__container">
    <?php include('sidebarUsuarios.html')?>
    <div class="index__containet--content">
        <div class="box-shdow"></div>
        <!--home__content-->
        <div class="usuarios__container">
            <div class="home__content--text">
                <img src="<?php $global['base']?>Assets/svg/usuarios/user.svg" alt=""> 
                <span><strong>Usuários</strong></span>
            </div>
            <div class="usuarios__content">
                <p>Aqui você pode adicionar, excluir ou gerenciar seu usuários:</p>
                <button class="box__item--button-6">
                    <img src="<?php $global['base']?>Assets/svg/usuarios/add-plus.svg" alt=""><span style="font-size: 14px; font-weight: bold;">Novo usuário</span>
                </button>
            </div>
        <!--task-box--> 
        <div class="usuarios__content--box">
            <div class="usuarios__box--container">
                <!--usuarios__box--item-->
                <div class="usuarios__box--item">
                   <div class="usuarios__item--add">
                      <div class="usuarios__box--avatar">
                        <div class="usuarios__avatar">
                            <img src="<?php $global['base']?>Assets/img/usuarios/jose.jpg" style="width: 95px; height: 95px;" alt="">
                        </div>
                        <!--usuarios__text-->
                        <div class="usuarios__text">
                            <span><strong>José da Silva</strong> <br>Administrador</span>
                            <div class="usuarios__contact">
                                <div class="usuarios__contact--telephone">
                                    <img src="<?php $global['base']?>Assets/svg/usuarios/telephone.svg" alt="">
                                    <span>41 3333 3333</span>
                                </div>
                                <div class="usuarios__contact--mail">
                                    <img src="<?php $global['base']?>Assets/svg/usuarios/envelope.svg" alt="">
                                    <span>email@email.com.br</span>
                                </div>
                            </div>
                        </div>
                        <!--usuarios__text-->
                      </div>
                      <div class="usuarios__status">
                         <div class="status">
                            <div class="usuarios__status--title">
                                <p><b>Status:</b></p>
                            </div>
                            <div class="liga-desliga">
                              
                                <input type="checkbox" class="liga-desliga__checkbox" id="liga-desliga">
                                <label for="liga-desliga" class="liga-desliga__botao"></label>
                            </div>
                         </div>
                         <div class="action">
                            <div class="usuarios__action--title">
                                <p><b>Ações:</b></p>
                            </div>
                             <div>
                                <img  src="<?php $global['base']?>Assets/svg/usuarios/editar.svg" alt="" style="margin-right: 20px;">
                                <img  src="<?php $global['base']?>Assets/svg/usuarios/excluir.svg" alt=""> 
                             </div>
                         </div>
                        
                      </div>
                   </div>
                </div>
                <!--box__item-->
                <!--usuarios__box--item-->
                <div class="usuarios__box--item">
                   <div class="usuarios__item--add">
                      <div class="usuarios__box--avatar">
                        <div class="usuarios__avatar">
                            <img src="<?php $global['base']?>Assets/img/usuarios/ana.jpg" style="width: 95px; height: 95px;" alt="">
                        </div>
                        <!--usuarios__text-->
                        <div class="usuarios__text">
                            <span><strong>Ana Maria</strong> <br>Usuário</span>
                            <div class="usuarios__contact">
                                <div class="usuarios__contact--telephone">
                                    <img src="<?php $global['base']?>Assets/svg/usuarios/telephone.svg" alt="">
                                    <span>41 3333 3333</span>
                                </div>
                                <div class="usuarios__contact--mail">
                                    <img src="<?php $global['base']?>Assets/svg/usuarios/envelope.svg" alt="">
                                    <span>email@email.com.br</span>
                                </div>
                            </div>
                        </div>
                        <!--usuarios__text-->
                      </div>
                      <div class="usuarios__status">
                         <div class="status">
                             <div class="usuarios__status--title">
                                 <p><b>Status:</b></p>
                             </div>
                            <div class="liga-desliga">
                              
                                <input type="checkbox" class="liga-desliga__checkbox" id="liga-desliga--2">
                                <label for="liga-desliga--2" class="liga-desliga__botao"></label>
                              
                            </div>
                         </div>
                         <div class="action">
                            <div class="usuarios__action--title">
                                <p><b>Ações:</b></p>
                            </div>
                             <div>
                                <img  src="<?php $global['base']?>Assets/svg/usuarios/editar.svg" alt="" style="margin-right: 20px;">
                                <img  src="<?php $global['base']?>Assets/svg/usuarios/excluir.svg" alt=""> 
                             </div>
                         </div>
                        
                      </div>
                   </div>
                </div>
                <!--box__item-->
                <!--usuarios__box--item-->
                <div class="usuarios__box--item">
                   <div class="usuarios__item--add">
                      <div class="usuarios__box--avatar">
                        <div class="usuarios__avatar">
                            <img src="<?php $global['base']?>Assets/img/usuarios/camila.jpg" style="width: 95px; height: 95px;" alt="">
                        </div>
                        <!--usuarios__text-->
                        <div class="usuarios__text">
                            <span><strong>Camila</strong> <br>Usuário</span>
                            <div class="usuarios__contact">
                                <div class="usuarios__contact--telephone">
                                    <img src="<?php $global['base']?>Assets/svg/usuarios/telephone.svg" alt="">
                                    <span>41 3333 3333</span>
                                </div>
                                <div class="usuarios__contact--mail">
                                    <img src="<?php $global['base']?>Assets/svg/usuarios/envelope.svg" alt="">
                                    <span>email@email.com.br</span>
                                </div>
                            </div>
                        </div>
                        <!--usuarios__text-->
                      </div>
                      <div class="usuarios__status">
                         <div class="status">
                            <div class="usuarios__status--title">
                                <p><b>Status:</b></p>
                            </div>
                            <div class="liga-desliga">
                              
                                <input type="checkbox" class="liga-desliga__checkbox" id="liga-desliga--3">
                                <label for="liga-desliga--3" class="liga-desliga__botao"></label>
                            </div>
                         </div>
                         <div class="action">
                            <div class="usuarios__action--title">
                                <p><b>Ações:</b></p>
                            </div>
                             <div>
                                <img  src="<?php $global['base']?>Assets/svg/usuarios/editar.svg" alt="" style="margin-right: 20px;">
                                <img  src="<?php $global['base']?>Assets/svg/usuarios/excluir.svg" alt=""> 
                             </div>
                         </div>
                        
                      </div>
                   </div>
                </div>
                <!--box__item-->
            </div>
            
        </div>   
        <!--task-box-->    
        </div>
        <!--home__content-->
    </div>
</section>